h1{color: rgb(200, 90, 80);}
body{
    background-image: linear-gradient(360deg,#767b7e 10%,#3AA17E 360%);
}
.main-wrapper{
    width: 100%;
    margin: auto;
}
.page-title{
    text-align: center;
    font-family: sans-serif;
}
/* Flex box */
.caption-section{
    display: flex;
    justify-content: space-around;font-family: Helvetica;
}
a{
    text-decoration: none;
    color:rgb(134, 203, 230)
}
a:hover{
    color:rgb(99, 71, 76)
}
li{
    padding: 5px;
}
.image-with-caption p{
    margin: 0;
    font-style: italic;
    font-size: smaller;
    font-weight: 300;

}
.image-with-caption .img-wrapper{

    width: 200px;
    height: auto;
    padding-right: 10px;
}
.image-with-caption .img-wrapper img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.row{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.row .text p{
width: 95%;
margin: auto;
text-align: left;
}

section{
padding: 10px 0;}
h1{
    color: goldenrod;
    font-weight: bolder;
    font-size: xx-large;
}
h2{
    text-decoration-color: indigo;
    color: rgb(7, 50, 65);
}
h3{
    align-items: flex-start;
    color: rgb(43, 39, 39);
}
